* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  background: #fff;
  color: #1b3c59;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-content {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-grow: 1;
}

.btn {
  color: #fff;
}

.show {
  background-color: #1b3c59;
}

.show:hover {
  background-color: #274f72;
  color: #fff;
}

.update {
  background-color: #61ce4e;
}

.delete {
  background-color: var(--red);
}

.main-header {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  color: #1b3c59;
}

.main-header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-header .navbar-brand {
  width: 100px;
}

.main-header .navbar-links .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-footer {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #1b3c59;
  color: #fff;
}

.table th {
  color: #61ce4e;
}

.radio-input .form-control {
  width: 15px;
}

.radio-input--ctn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.radio-input--ctn input {
  margin-right: 10px;
}

.home .container .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jumbo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 500px;
}

.jumbo-text {
  width: 60%;
}

.jumbo-text h2 {
  font-size: 58.5px;
  text-transform: uppercase;
  font-weight: 300;
}

.jumbo-text h2 span {
  font-weight: 400;
}

.jumbo-text p {
  font-size: 22px;
  font-weight: 400;
}

.jumbo-text ul {
  list-style: disc;
  padding-left: 20px;
}

.jumbo-text ul li {
  font-weight: 300;
}

.jumbo-text ul li strong {
  font-weight: 400;
}

.jumbo-img {
  width: 40%;
}

.partners h5 {
  color: #61ce4e;
}

