.main-content {
    width: 100%;
    max-width: 1180px;
    flex-grow: 1;

    .students {


        .single-student {

            
            padding: 20px;

            h4 {

            }
        }
    }
}